@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');



:root {
    --main-font: "Poppins", Arial;
    --main-color: #7856FF;
    --main-dark-color: black;
    --main-light-color: white;
    --fweight-s: 400;

    --normal-margin: 1rem;
    
    font-family: var(--main-font);
    margin: 0px 1rem 0px 1rem;
}

hr {
    color: var(--main-color);
}
#grid--container {
    display: flex;
    justify-content: center;
}

/* SECOND CONTAINER CSS */
#post--area {   
    resize: none;
    height: 181px;
    width: 318px;;

    color: var(--main-color);
    font-family: var(--main-font);
    padding: 1rem;
    border: none;

}
#post--form {
    margin-bottom: 1rem;
}
#upper--post-body {
    display: grid;
    grid-template-columns: 10% 90%;

    margin: var(--normal-margin);
}
#post--button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-left: 3rem;
    border: none;
    background-color: var(--main-color);
    color: var(--main-light-color);
    border-radius: var(--normal-margin);
}
#post--properties {
    margin: var(--normal-margin);
}

#body-lists {
    width: 40%;
                
}
/* user posts property styles */
.user--header {
    display: flex;
}
#name {
    margin-left: var(--normal-margin);
    font-weight: var(--fweight-s);
}
#username:hover {
    text-decoration: underline;
}
#username { 
    opacity: 50%;
}
.user--post {
    margin-left: 4rem;
    margin-right: 4rem;

    text-align: left;
}
/* post nav bar */
#nav--list{
    display: flex;
    justify-content: space-around;

    list-style-type: none;
}
#nav--list li {
    display: flex;
}
#nav--list img:hover {
    transform: rotate(0.1turn);
    cursor: pointer;
}



/* FIRST CONTAINER CSS */
#nav--container {
    border-right: 0.5px solid var(--main-color);
}
#f-user--header {
    display: flex;
    margin: 1rem 5rem 0 0;
    font-size: small;
}
.f-nav--list {
    padding: 0.5rem;
    list-style-type: none;
    justify-content: space-around;
    margin-left: 1rem;
}
.f-nav--list:hover {
    text-decoration: underline;
}
.weather--api {         
    border: 0.5px solid var(--main-color);
    border-radius: 10px;

    padding: 0rem 50px 140px 1.5rem;

    margin-top: 1rem;
    margin-right: 3rem;
}

/* THIRD CONTAINER STYLES */
#query--section {
    border-left: 0.5px solid var(--main-color);
}

#search {
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

    width: 280px;
    margin: 1rem;
    padding: 1rem;
}

#search::placeholder {
    color: var(--main-color);
}

#trends {
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

    height: 400px;
    width: 280px;
    margin: 1rem;
    padding: 1rem;

}

#messages-- {
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

    width: 280px;
    
    margin: 1rem;
    padding: 1rem;

}

#query--container {
    margin-left: 2rem;

}

.trending--condition {
    line-height: 0;
    font-weight: var(--fweight-s);

    opacity: 50%;
    font-size: small;
}

.trending--content {
    font-weight: var(--fweight-s);
    font-size: small;
}
.trends--lists {
    
    padding: 0px 1rem 0px 1rem;
}

.trends--lists:hover {
    text-decoration: underline ;
   
}
#live--status {
    color: red;
}