@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');



:root {
    --main-font: "Poppins", Arial;
    --main-color: #7856FF;
    
    font-family: var(--main-font);
    color: var(--main-color);
    margin: 0px;
    
   
}

#grid--container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

#post--area {   
    resize: none;
    height: 181px;
    width: 618px;;

    color: var(--main-color);
 
}