@import "home.css";

/* Second Container */
#chatmates {
    font-size: x-small ;  
}
.cmates {
    margin: 1rem;
}
.cmates:hover { 
    background-color: var(--light-main-color);
}
.user--messages {
    margin-left: 4rem;
    margin-right: 4rem;

    text-align: left;
}
#text--messages {
        border: 0.5px solid var(--main-color);
        border-radius: 20px;
    
        width: 280px;
        margin: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
}
#m-search {
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

    width: 280px;
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* Third Container */
#messages--section {
    border-left: 0.5px solid var(--main-color);
    border-right: 0.5px solid var(--main-color);;
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    padding: 30px;
}

.messages--container {
    margin: 1rem;
    font-size: x-small;
}

.from--messages {
    border: 0.5px solid var(--light-main-color);
    border-radius: 10px 10px 10px 0px;
    text-align: left;
    background-color: var(--light-main-color);
    padding: 0.5rem 1rem 0.5rem 1rem;

    max-width: 150px;
}

.to--messages {
    border: 0.5px solid var(--light-main-color);
    border-radius: 10px 10px 0px 10px;
    text-align: right;
    background-color: var(--light-main-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-width: 150px;
    
    margin-left: 150px;
}

.m-user--header {
    display: flex;
    flex-direction: column;

    text-align: center;

}

.profile--photo {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;

    margin-left: 7.7rem;
}