@import "home.css";

#messages-lists {
    margin: 1rem;
     
}

#chatmates {
    font-size: x-small ;
    
}
.user--messages {
    margin-left: 4rem;
    margin-right: 4rem;

    text-align: left;
}

.profile--photo {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;

    margin-left: 7.5rem;
   
}

#text--messages {
        border: 0.5px solid var(--main-color);
        border-radius: 20px;
    
        width: 280px;
        margin: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
}

#m-search {
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

    width: 280px;
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.m-user--header {
    display: flex;
    flex-direction: column;

    text-align: center;

    
}

#messages--section {
    border-left: 0.5px solid var(--main-color);
    border-right: 0.5px solid var(--main-color);;
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    padding: 30px;
}